.page {
  min-height: 100vh;
  background: var(--color-yellow);
  color: var(--color-black);
  overflow-x: clip;
  padding-top: calc(var(--header-height) + 24px);
}

@media (max-width: 743px) {
  .page {
    padding-top: 100px;
  }
}
